
<div  id="particles-js" class="w-100 header-particles"  >

</div>

<div class="wrapper">
<div class="logo">
    <img src="/assets/img/logo.png" alt="">
</div>
<div class="text-center mt-4 name">
    Oatoo
</div>
<div class="text-center mt-2 ">
    Création de compte
</div>
<form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" placeholder="Username">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="text" placeholder="Email">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password" placeholder="Password">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <input type="password"  placeholder="Confirm Password">
    </div>
    <div class="form-field d-flex align-items-center">
        <span class="fas fa-key"></span>
        <select class="form-select" aria-label="Default select example">   
            <option *ngFor="let role of data_roles"  > {{role.name}} </option>                                                                                              
        </select>
    </div>
    <button class="btn mt-3">Créer son compte</button>
</form>
<div class="text-center fs-6">
    <input class="form-check-input mx-2" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Accepetez les conditions. <a href="">ici</a> 
        </label>
</div>
</div>