
<!-- début du main -->
<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Programmes</h1>
    <nav>
      <!-- Les éléments du breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item">Programmes</li>
        <li class="breadcrumb-item active">Ajouter un programme</li>
      </ol>
    </nav>
  </div>
  <!-- Fin des éléments du breadcumbs -->

  <!-- Début du cadre de notre formulaire -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ajouter un programme à Oatoo</h5>
      <p>Les champs obligatoires sont marqués par le signe ( <span class="text-danger">*</span> )</p>
      <!-- début Form -->
      <form class="row g-3">
        <!-- Description des differents formulaires -->
        <div class="col-md-12">
          <label for="" class="mb-2">Nom du programme <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir le libéllé du programme">
        </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Description du programme <span class="text-danger">*</span> </label>
          <textarea class="form-control" placeholder="Saisissez toutes les informations" rows="9"></textarea>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Date de début <span class="text-danger">*</span> </label>
          <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Date de fin <span class="text-danger">*</span></label>
          <input type="date" class="form-control" id="birthday" name="birthday">
        </div>
        <div class="col-md-12">
            <label for="" class="mb-2">Nombre de place <span class="text-danger">*</span></label>
            <input type="number" class="form-control"  placeholder="Entrez le nombre">
          </div>

        <!-- pour la photo du programme nous prenons en compte que les images png jepg jpg-->
        <div class="col-md-12">
          <label for="" class="mb-2">Choisir une photo pour le programme</label>
          <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg, image/jpg">
        </div>

        <div class="mt-5">
          <button tuiButton 
          type="button" appearance="custom" size="s" type="submit" class="btn btn-success active">Enregistrer</button>
          <button tuiButton 
          type="button" appearance="custom" size="s" type="reset" class="btn btn-danger active  float-end">Annuler</button>
        </div>
      </form>
      <!-- End Form -->

    </div>
  </div>
</main>
<!-- Fin main -->