

<!-- début du main -->
<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Programmes</h1>
    <nav>
      <!-- Les éléments du breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item">Programmes</li>
        <li class="breadcrumb-item active">Liste des participants aux programmes</li>
      </ol>
    </nav>
  </div>
  <!-- Fin des éléments du breadcumbs -->


  <!-- Début du cadre de notre formulaire -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Liste des participants à un programme</h5>



    </div>
  </div>
</main>
<!-- Fin main -->
<!-- ======= Importation du footer ======= -->
<app-footer></app-footer>
<!-- ======= Fin Importation du footer ======= -->
