
    <div  id="particles-js" class="w-100 header-particles"  >

    </div>


<div class="wrapper">
    <div class="logo">
        <img src="./assets/img/logo.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Oatoo
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3" routerLink="/dashboard">Connexion</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Mot de passe oublié?</a> or <a href="#">Créer un compte</a>
    </div>
</div>