<!-- début du main -->
<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Années de gestion</h1>
    <nav>
      <!-- Les éléments du breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item">Années de gestion </li>
        <li class="breadcrumb-item active">Les années de gestion </li>
      </ol>
    </nav>
  </div>
  <!-- Fin des éléments du breadcumbs -->


  <!-- Début du cadre de notre formulaire -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Mes années de gestion</h5>
      <p>Nous présentons la liste des années de gestion. Vous pouvez ajouter une année ici </p><a tuiButton
        type="button" appearance="custom" size="s" class="btn btn-primary active float-end"
        data-bs-toggle="modal" data-bs-target="#addyear">Ajouter une année</a>

      <!-- Table with stripped rows -->
      <table class="table datatable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Année</th>
            <th scope="col">Date d'ajout</th>
            <th scope="col">Date de modification</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data_years | paginate: { itemsPerPage: 5, currentPage: p }">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.year }}</td>
            <td>{{ item.created_at | date :'dd-MM-yyyy' }}</td>
            <td >{{ item.updated_at | date :'dd-MM-yyyy' }}</td>
            <td>
              <a tuiButton type="button" appearance="custom" size="s" 
                class="btn btn-success active"><i class="bi bi-tropical-storm"></i>
              </a>

              <a tuiButton type="button" appearance="custom" size="s" 
                class="btn btn-warning mx-2 active"><i class="bi bi-arrow-counterclockwise"></i>
            </a>

              <a
                class="btn btn-danger active" (click)="deleteYearById(item.id)"><i class="bi bi-backspace-reverse"></i>
          </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End Table with stripped rows -->
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>


  <!-- Modal pour ajouter une année -->
  <div class="modal fade" id="addyear" tabindex="-1" data-bs-backdrop="false" data-target="#modal" [hidden]="IsmodelClose">
    <div class="modal-dialog">
      <form class="row g-3" #yearForm="ngForm" (ngSubmit)="yearForm.valid && addYear(yearForm)">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ajouter une année</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <p>Les champs obligatoires sont marqués par le signe ( <span class="text-danger">*</span> )</p>
            <!-- Description des differents formulaires -->
            <div class="col-md-12">
              <label for="" class="mb-2">Année de gestion <span class="text-danger">*</span> </label>
              <input type="number" class="form-control" placeholder="Entrez une année supérieure à précédente"
                name="year" [(ngModel)]="years.year" required #year="ngModel">
                <div [hidden]="year.valid || year.pristine" class="alert alert-danger">
                  Ce champ est obligatoire
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button tuiButton type="button" appearance="custom" data-bs-dismiss="modal" size="s" type="reset"
              class="btn btn-danger active  float-end">Fermer</button>
            <button tuiButton type="button" appearance="custom" size="s" type="submit" [disabled]="!yearForm.form.valid"
              class="btn btn-success active">Enregistrer</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</main>
<!-- Fin main -->
