<header>
  <div class="overlay"></div>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Oatoo
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 ">
          <li class="nav-item mx-2">
            <a tuiButton appearance="custom" type="button" size="s" class=" btn btn-outline-secondary active"
              aria-current="page" href="#">Accueil</a>
          </li>

          <li class="nav-item mx-2">
            <a tuiButton appearance="custom" type="button" size="s" class=" btn btn-outline-secondary "
              href="#description">Description</a>
          </li>
          <li class="nav-item mx-2">
            <a tuiButton appearance="custom" type="button" size="s" class=" btn btn-outline-secondary"
              routerLink="/login">Connexion</a>
          </li>
          <li class="nav-item mx-2">
            <a tuiButton appearance="custom" type="button" size="s" class=" btn btn-outline-secondary"
            routerLink="/register">S'inscrire</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="overlay-text">
      <div class="desc">
        <h1 class="text-white">Oatoo, mesure l'impact de l'employabilité</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem quisquam vitae sed accusamus perferendis accusantium modi assumenda? Dolorum dolores aliquam perferendis ipsa doloremque amet quibusdam, ullam quam ipsum. Exercitationem, odio.</p>
      </div>
      <div class="">
        <a tuiButton appearance="custom" routerLink="/register" type="button" class="btn btn-primary-2">S'inscrire</a>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container marketing mt-5" id="description">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Emplois</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="fw-normal">Formations</h2>
        <p>Un ensemble de formations enregistrées par des entreprises afin de former à la demande.</p>
        <p><a tuiButton appearance="secondary" href="tata" type="button" size="s"  href="#">Voir plus &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="fw-normal">Emplois</h2>
        <p>Des offres d'emplois offerte par les entreprises partenanires aux candidats ayant terminés des programmes.
        </p>
        <p><a tuiButton appearance="secondary" href="tata" type="button" size="s" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2 class="fw-normal">Mesures</h2>
        <p>La plateforme permet d'estimer l'impact du taux d'employabilité en Côte d'Ivoire sur le PIB.</p>
        <p><a tuiButton appearance="secondary" href="tata" type="button" size="s" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-2">L'un des premiers programmes enregistrés sur la plateforme <span class="text-muted">est l'ADACI.</span></h2>
        <p class="lead"> <span class="text-primary">ADACI : </span> ATOS Digital Academy Côte d'Ivoire. 
        </p>
        <p class="lead fw-normal lh-2">Formation Fullstack ANGULAR  JAVA / PHP
        </p>
      </div>
      <div class="col-md-5">
       <!--  <img class="img-fluid" src="../../../assets/img/adaci.jpg" height="500px" width="500px" alt=""> -->
       <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/adaci1.jpg" height="500px" width="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/adaci.jpg" height="500px" width="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/adaci3.jpg" height="500px" width="500px" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/adaci2.jpg"  height="500px" width="500px" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
    </div>

    <hr class="featurette-divider" >

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit <span class="text-muted">Porro provident sol.</span></h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, ut voluptas. Asperiores harum veniam numquam molestias explicabo repudiandae similique natus expedita fuga perferendis! Consequatur ullam possimus, ex amet fugit in..</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit.  <span class="text-muted"> Laborum modi asperna.</span>
        </h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rerum tenetur cupiditate vitae quaerat, ducimus mollitia officia? Odit quibusdam quas iste perspiciatis aliquam. Delectus impedit sequi fugiat itaque omnis nisi!</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p>&copy; 2022–2023 Oatoo, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
