<!-- Importation du header -->
<app-head></app-head>
<!-- <Fin Importation du header -->

<!-- début du main -->
<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Contrats</h1>
    <nav>
      <!-- Les éléments du breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item">Contrats</li>
        <li class="breadcrumb-item active">Proposer un contrat</li>
      </ol>
    </nav>
  </div>
  <!-- Fin des éléments du breadcumbs -->


  <!-- Début du cadre de notre formulaire -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Proposer un contrat à un demandeur d'emploi</h5>
      <p>Les champs obligatoires sont marqués par le signe ( <span class="text-danger">*</span> )</p>

      <!-- début Form -->
      <form class="row g-3">

        <!-- Description des differents formulaires -->
        <div class="col-md-12">
            <label for="" class="mb-2">Numéro CNPS <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Entrez le nombre">
          </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Type de contrat <span class="text-danger">*</span> </label>
          <select class="form-control">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Période du contrat <span class="text-danger">*</span></label>
          <input type="text" class="form-control" placeholder="Entrez le nombre">
        </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Salaire brut <span class="text-danger">*</span></label>
          <input type="number" class="form-control" placeholder="Entrez le nombre">
        </div>
        <div class="col-md-12">
            <label for="" class="mb-2">Intitulé du poste <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Entrez le nombre">
          </div>
          <div class="col-md-12">
            <label for="" class="mb-2">Demandeur d'emploi <span class="text-danger">*</span></label>
            <select class="form-control">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
          <div class="col-md-12">
            <label for="" class="mb-2">Programmes <span class="text-danger">*</span></label>
            <select class="form-control">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Description du poste <span class="text-danger">*</span> </label>
          <textarea class="form-control" placeholder="Saisissez toutes les informations" rows="9"></textarea>
        </div>

        <div class="mt-5">
          <button tuiButton type="button" appearance="custom" size="s" type="submit"
            class="btn btn-success active">Enregistrer</button>
          <button tuiButton type="button" appearance="custom" size="s" type="reset"
            class="btn btn-danger active  float-end">Annuler</button>
        </div>
      </form>
      <!-- End Form -->

    </div>
  </div>
</main>
<!-- Fin main -->
<!-- ======= Importation du footer ======= -->
<app-footer></app-footer>
<!-- ======= Fin Importation du footer ======= -->
