<!-- début du main -->
<main id="main" class="main ">
  <div class="pagetitle">
    <h1>Demandeurs d'emplois</h1>
    <nav>
      <!-- Les éléments du breadcumbs -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item">Demandeurs d'emplois</li>
        <li class="breadcrumb-item active">Remplir ma fiche de demandeur</li>
      </ol>
    </nav>
  </div>
  <!-- Fin des éléments du breadcumbs -->
  <!-- Début du cadre de notre formulaire -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Remplir ma fiche de demandeur</h5>
      <p>Les champs obligatoires sont marqués par le signe ( <span class="text-danger">*</span> )</p>
      <!-- début Form -->
      <form class="row g-3" #unemplyeesForm="ngForm"
        (ngSubmit)="unemplyeesForm.valid && addUnemployees(unemplyeesForm)">
        <!-- Description des differents formulaires -->
        <div class="col-md-6">
          <label for="" class="mb-2">Nom <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir votre Nom" name="unemployed_firstname"
            [(ngModel)]="unemployees.unemployed_firstname" required #unemployed_firstname="ngModel">
          <div [hidden]="unemployed_firstname.valid || unemployed_firstname.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Prénoms <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir vos prénoms" name="unemployed_lastname"
            [(ngModel)]="unemployees.unemployed_lastname" required #unemployed_lastname="ngModel">
          <div [hidden]="unemployed_lastname.valid || unemployed_lastname.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Lieu de naissance <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir votre lieu de naissance"
            name="unemployed_birthplace" [(ngModel)]="unemployees.unemployed_birthplace" required
            #unemployed_birthplace="ngModel">
          <div [hidden]="unemployed_birthplace.valid || unemployed_lastname.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Date de naissance <span class="text-danger">*</span> </label>
          <input type="date" class="form-control" placeholder="Veuillez fournir votre date de naissance"
            name="unemployed_birthdate" [(ngModel)]="unemployees.unemployed_birthdate" required
            #unemployed_birthdate="ngModel">
          <div [hidden]="unemployed_birthdate.valid || unemployed_birthdate.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Groupe sanguin</label>
          <select class="form-control" name="unemployed_bloodtype" [(ngModel)]="unemployees.unemployed_bloodtype"
            required #unemployed_bloodtype="ngModel">
            <div [hidden]="unemployed_bloodtype.valid || unemployed_bloodtype.pristine" class="alert alert-danger">
              Ce champ est obligatoire
            </div>
            <option value="" selected>Veuillez choisir votre groupe sanguin</option>
            <option value="A">A</option>
            <option value="A">B</option>
            <option value="A">O</option>
            <option value="A">O+</option>
            <option value="A">O-</option>
            <option value="A">AB+</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Numéro de téléphone <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Entrez votre numéro de téléphone" name="unemployed_phone"
            [(ngModel)]="unemployees.unemployed_phone" required #unemployed_phone="ngModel">
          <div [hidden]="unemployed_phone.valid || unemployed_phone.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">E-mail <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir votre email" name="unemployed_mail"
            [(ngModel)]="unemployees.unemployed_mail" required #unemployed_mail="ngModel">
          <div [hidden]="unemployed_mail.valid || unemployed_mail.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Numéro de la pièce <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez saisir le numéro de la pièce"
            name="unemployed_partnumber" [(ngModel)]="unemployees.unemployed_partnumber" required
            #unemployed_partnumber="ngModel">
          <div [hidden]="unemployed_partnumber.valid || unemployed_partnumber.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Niveau d'étude <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" placeholder="Veuillez fournir votre niveau d'étude"
            name="unemployed_level" [(ngModel)]="unemployees.unemployed_level" required #unemployed_level="ngModel">
          <div [hidden]="unemployed_level.valid || unemployed_level.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-12">
          <label for="" class="mb-2">Descrivez vos objectifs </label>
          <textarea class="form-control" placeholder="Saisissez toutes les informations" rows="9" name="desc_program"
            [(ngModel)]="unemployees.unemployed_goals" required #unemployed_goals="ngModel"></textarea>
          <div [hidden]="unemployed_goals.valid || unemployed_goals.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Envoyer votre CV <span class="text-danger">*</span> </label>
          <input type="file" class="form-control" accept=".pdf, .docx" placeholder="Veuillez charger votre CV"
            name="unemployed_cv" [(ngModel)]="unemployees.unemployed_cv" required #unemployed_cv="ngModel">
          <div [hidden]="unemployed_cv.valid || unemployed_cv.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="mb-2">Insérer votre photo <span class="text-danger">*</span> </label>
          <input type="file" class="form-control" accept="image/png, image/gif, image/jpeg, image/jpg"
            placeholder="Veuillez charger votre photo" name="unemployed_img"
            [(ngModel)]="unemployees.unemployed_img" required #unemployed_img="ngModel">
          <div [hidden]="unemployed_img.valid || unemployed_img.pristine" class="alert alert-danger">
            Ce champ est obligatoire
          </div>
        </div>
        <div class="mt-5">
          <button tuiButton type="button" appearance="custom" size="s" type="submit"
            [disabled]="!unemplyeesForm.form.valid" class="btn btn-success active">Enregistrer</button>
          <button tuiButton type="button" appearance="custom" size="s" type="reset"
            class="btn btn-danger active  float-end">Annuler</button>
        </div>
      </form>
      <!-- End Form -->

    </div>
  </div>
</main>
<!-- Fin main -->
<!-- ======= Importation du footer ======= -->
<app-footer></app-footer>
<!-- ======= Fin Importation du footer ======= -->
